@using services.Entity
@model services.Models.ViewModels.RequestsModel
@{
    Layout = "~/Views/Layouts/ModalLayout.cshtml";
}

@section Styles {
    <link href="~/css/card.css" rel="stylesheet" />
    <link href="~/css/requests.css" rel="stylesheet" />
}

@if (Model.RequestsCount == 0) {
    <img class="norequests" src="~/img/norequests.png" />

} else {
    <div class="sort">
        <a href="/requests/all" class="@(Model.Status == "all" ? "active" : null)">Все (@Model.Requests.Count())</a>
        <a href="/requests/waiting" class="@(Model.Status == "waiting" ? "active" : null)">Ожадание ответа (@Model.Requests.Count(r => r.Status == null))</a>
        <a href="/requests/accepted" class="@(Model.Status == "accepted" ? "active" : null)">Одобреные (@Model.Requests.Count(r => r.Status == true))</a>
        <a href="/requests/rejected" class="@(Model.Status == "rejected" ? "active" : null)">Отклонённые (@Model.Requests.Count(r => r.Status == false))</a>
    </div>
}

@foreach (Request request in Model.Requests.Where(r =>
    Model.Status == "waiting" ? r.Status == null :
    Model.Status == "accepted" ? r.Status == true :
    Model.Status == "rejected" ? r.Status == false : true
)) {
    <div class="card">

        @if (Model.Admin) {
            @if (request.AdminNoti) {
                <div class="notification"></div>
            }
            
        } else {
            @if (request.UserNoti) {
                <div class="notification"></div>
            }
        }

        <div class="body">

            <div class="body-content no-image">
                <p class="title">@request.ServiceName</p>
                <p class="text">@request.Query</p>

                <div class="info">
                    @if (request.Status == true) {
                        <div class="status accepted">@request.StatusText</div>
                    } else if (request.Status == false) {
                        <div class="status rejected">@request.StatusText</div>
                    } else {
                        <div class="status waiting">@request.StatusText</div>
                    }
                    <div class="date">@request.CreatedAt.ToString(format: "O")</div>
                </div>

            </div>

            @if (Model.Admin == true) {
                <div class="control-admin">
                    @if (request.Status == false) {
                        <button class="acceptBtn visible" onclick="accept(this, @request.Id)">Одобрить</button>
                        <button class="rejectBtn" onclick="reject(this, @request.Id)">Отклонить</button>
                    } else if (request.Status == true) {
                        <button class="acceptBtn" onclick="accept(this, @request.Id)">Одобрить</button>
                        <button class="rejectBtn visible" onclick="reject(this, @request.Id)">Отклонить</button>
                    } else {
                        <button class="acceptBtn visible" onclick="accept(this, @request.Id)">Одобрить</button>
                        <button class="rejectBtn visible" onclick="reject(this, @request.Id)">Отклонить</button>
                    }
                </div>
            }

        </div>

    </div>
}

@section Scripts {
    <script src="~/js/requests.js"></script>
}